@page "/formexample"
@using System.ComponentModel.DataAnnotations

<div style="width:350px;">
	<EditForm Model="@formData" OnValidSubmit="@Submit">
		<DataAnnotationsValidator>

		</DataAnnotationsValidator>

		<p>
			<MudTextField Label="Phone" @bind-Value="formData.Phone" For="@(() => formData.Phone)"></MudTextField>
		</p>

		<p>
			<MudTextField Label="Email" @bind-Value="formData.Email" For="@(() => formData.Email)"></MudTextField>
		</p>

		<p>
			<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" >Submit</MudButton>
		</p>
	</EditForm>
</div>

@code {

	InputFormData formData = new InputFormData();

	public class InputFormData
	{
		[Required]
		[Phone(ErrorMessage = "Wrong format")]
		public string Phone { get; set; }

		[Required]
		[EmailAddress]
		public string Email { get; set; }
	}

	void Submit(EditContext context)
	{
		string phone = ((InputFormData)context.Model).Phone.ToString();

		StateHasChanged();
	}

}
