@page "/"


<MudGrid>
    <MudItem md="4">
        <p>part 1</p>
    </MudItem>

    <MudItem md="4">
        <p>part 2</p>
    </MudItem>

    <MudItem md="4">
        <p>part 3</p>
    </MudItem>
</MudGrid>
