@page "/"



    <MudItem xs="12" md="4">
        <p>part 1</p>
    </MudItem>

    <MudItem xs="12" md="4">
        <p>part 2</p>
    </MudItem>

    <MudItem xs="12" md="4">
        <p>part 3</p>
    </MudItem>

